
body {
    font-family: Arial, sans-serif;
    background-color: linear-gradient(to bottom , #159957,
 #155799);
    margin: 0;
    padding: 20px;
    text-align: center;
}

h1 {
    color: #333;
}

form {
    margin-top: 20px;
}

table {
    margin: 0 auto; /* Center the table */
}

tr {
    margin-bottom: 10px;
}

td {
    text-align: left;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="submit"] {
    padding: 8px;
    margin-bottom: 10px;
    width: 100%; /* Make input fields full-width */
}

input[type="submit"] {
    background-color: #007bff;
    color: white;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}